body {
    margin: 0;
    font-family: Arial, sans-serif;
}
wrapper {
    max-width: 75%;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* Navigation */
nav a {
    text-decoration: none;
    color: black;
    padding: 1em .5em;
    transition: all .3s;
}
nav a:hover {
    color: white;
    background: navy;
}

.block {
    width: 30%;
    background: grey;
    text-align: center;
}
.block a {
    display: block;
    padding: 2em;
    text-decoration: none;
    color: white;
}
header.flex {
    justify-content: space-between
}

/* Roster */
.roster {
    width: 25%;
    margin: 1em;
}
.roster a {
    padding: 5em 2em;
}